https://github.com/JankaMarschalkova/python-podzim-pondeli-2023/blob/main/ukoly/ukol-07.md

Import nezbytných knihoven

In [1]:
import pandas as pd
from unidecode import unidecode

Načtení,formatování a zobrazení dat

In [2]:
seznam_zvirat = pd.read_csv("adopce-zvirat.csv", sep=";")
display(seznam_zvirat.dtypes)
display(seznam_zvirat.head())

id              int64
nazev_cz       object
nazev_en       object
trida_cz       object
cena            int64
k_prohlidce     int64
dtype: object

,id,nazev_cz,nazev_en,trida_cz,cena,k_prohlidce
0,7,Šváb syčivý,Madagascar giant cockroach,Bezobratlí,1000,1
1,8,Pakobylka okřídlená,Pink-winged stick insect,Bezobratlí,1000,1
2,16,Tayra,Tayra,Savci,5000,1
3,35,Kajmanka supí,Alligator snapping turtle,Plazi,2000,1
4,37,Želva žlutočelá,Indochinese box turtle,Plazi,1000,1

### ZADÁNÍ

Kolik má tabulka řádek a sloupců? Jak se sloupce jmenují?

In [3]:
radky = seznam_zvirat.shape[0]
sloupce = seznam_zvirat.shape[1]
nazvy_sloupcu = seznam_zvirat.columns.tolist()

print(f"Tabulka má {radky} řádek a {sloupce} sloupců.")
print(f"Nazvy sloupců: {nazvy_sloupcu}.")

Tabulka má 513 řádek a 6 sloupců.
Nazvy sloupců: ['id', 'nazev_cz', 'nazev_en', 'trida_cz', 'cena', 'k_prohlidce'].

Které zvíře se nachází na záznamu s indexem 34? Vypiš název tohoto zvířete v češtině a v angličtině.

In [4]:
cesky_nazev = seznam_zvirat.loc[34, "nazev_cz"]
anglicky_nazev = seznam_zvirat.loc[34, "nazev_en"]

print(f"Na záznamu s indexem 34 se nachází {cesky_nazev}, anglický: {anglicky_nazev}.")

Na záznamu s indexem 34 se nachází Ibis bílý, anglický: White ibis.

### BONUS

Adopce kterých zvířat je nejdražší?

In [5]:
# vyhledání nejvyšší ceny za adopci
nejvyssi_cena = seznam_zvirat["cena"].max()

# vyhledání všech zvířat s nejvyšší cenou 
print(f"Nejdražší adopce s cenou {nejvyssi_cena} kč:")
nejdrazsi_zvirata = seznam_zvirat.query(f"cena == {nejvyssi_cena}")
display(nejdrazsi_zvirata[["nazev_cz"]])

Nejdražší adopce s cenou 50000 kč:

                                      nazev_cz
113                            Tygr ussurijský
114                            Tygr sumaterský
128                               Slon indický
129                          Hroch obojživelný
135  Žirafa severní núbijská (= Rothschildova)
272                              Tygr malajský

Které zvíře je alfabeticky poslední v češtině? Které v angličtině?

In [11]:
# seřazení českých a anglických nazvů zvířat podle abecedy  
seznam_zvirat["nazev_cz"] = seznam_zvirat["nazev_cz"].apply(unidecode) 
nazvy_cesky = seznam_zvirat.sort_values(by="nazev_cz")
nazvy_anglicky = seznam_zvirat.sort_values(by="nazev_en")

# vyhledání posledního nazvu zvířete v čestině a v angličtině
posledni_cesky = nazvy_cesky.index[-1]
posledni_anglicky = nazvy_anglicky.index[-1]

print("Alfabeticky poslední zvíře v čestině je:")
display(nazvy_cesky.loc[[posledni_cesky], ["nazev_cz"]])

print("a v angličtině:")
display(nazvy_anglicky.loc[[posledni_anglicky], ["nazev_en"]])

Alfabeticky poslední zvíře v čestině je:

          nazev_cz
303  Zvonek zeleny

a v angličtině:

                    nazev_en
161  Yellow-necked francolin